body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.map-overlay {
  position: absolute;
  height: 100%;
  width: 20%;
  top: 0;
  bottom: 0;
  left: 0;
  font: 15px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  background-color: #fff;
  /* overflow: hidden;
  overflow-y: scroll !important; */
}

.map-overlay fieldset {
  display: none;
  background: #ddd;
  border: none;
  padding: 10px;
  margin: 0;
}

.map-overlay input {
  display: block;
  border: none;
  width: 100%;
  border-radius: 3px;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
}

.map-overlay .listing {
  overflow: auto;
  max-height: 100%;
}

#feature-listing img {
  width: 40%;
}

.map-overlay .listing > * {
  display: block;
  padding: 10px 10px;
  margin: 0;
}

.map-overlay .listing a {
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.map-overlay .listing a:last-child {
  border: none;
}

#feature-listing p.name {
  margin-bottom: 4px;
  margin-top: 4px;
}

button.listings-button{
  background-color: #007922;
  color: #ffffff;
  cursor: pointer;
}

button.listings-button a{
  background-color: #007922;
  color: #ffffff;
  cursor: pointer;
}

.marker {
  border: none;
  cursor: pointer;
  height: 28px;
  width: 20px;
  background-size: 20px;
  background-color: rgba(0, 0, 0, 0);
}

.marker:hover {
  color: pointer;
}

.first-popup {
  margin: 0;
}

img.first-popup {
  width: 40%;
}

button.sidebar-button,
button.first-popup {
  margin-top: 10px;
  color: #ffffff;
  background-color: #007922;
}

button.sidebar-button,
button.first-popup:hover {
  cursor: pointer;
}

button.sidebar-button {
  margin-left: 40%;
}

/* p.name {
  color: #052538;
  font: 14px "Work Sans Regular", "Source Sans Pro", Helvetica, Arial;
  padding: 0;
  margin: 0;
}
p.link {
  color: #052538;
  font: bold 11px "Work Sans Regular", "Source Sans Pro", Helvetica, Arial;
  padding: 0;
  margin: 5px 0 0 0;
}
p.link:hover {
  color: #ede8d6;
  text-decoration: underline;
  text-transform: uppercase;
}
h4.name {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 11px;
  line-height: 15px;
  font-weight: 400;
} */

b.sidebar-bold,
p.sidebar-paragraph {
  margin-top: 3px;
  margin-bottom: 3px;
}

#map
  > div.mapboxgl-control-container
  > div.mapboxgl-ctrl-top-right
  > div.mapboxgl-ctrl-geocoder.mapboxgl-ctrl
  > input {
  padding: 6px 25px;
}

#feature-listing > a:last-child {
  padding-bottom: 80px;
}

#feature-filter {
  width: 100%;
  height: 40px;
}

.sidebar {
  display: none;
}

.sidebar.visible {
  display: block;
  position: relative;
  border: 10px solid #007922;
  background-color: #ffffff;
  left: 0px;
  z-index: 2001;
  width: 50px;
  position: absolute;
  width: 350px;
  left: 282px;
  top: 107px;
  font-size: 8px;
  font: 8px, "Helvetica Neue", Arial, Helvetica, sans-serif;
  /* transition: left 0.7s ease; */
}

.sidebar-image {
  width: 93%;
  height: 98px;
}

span.close-button {
  float: right;
  right: 13px;
  border-radius: 21px;
  background-color: #cbbca3;
  width: 26px;
  height: 26px;
  font-size: 14px;
  color: #007922;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 15px;
  padding: 0;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  z-index: 2001;
}

span.close-button:hover {
  border-color: #007922;
  background-color: #007922;
  color: #ffffff;
}

div.sidebar-content {
  /* overflow-y: scroll !important;
  overflow-x: hidden; */
  height: auto;
  font-size: 15px;
}

.sidebar-content-inner {
  margin-left: 7px;
  margin-right: 7px;
  padding-bottom: 7px;
}

/* .sidebar-content-inner h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  margin-bottom: 5px;
}
.sidebar-content-inner h2 {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 600;
}
div.sidebar-content-inner h3 {
  font-size: 16px;
}
div.sidebar-content-inner p.description {
  font-size: 14px;
} */

@media (max-width: 600px) {
  #map {
    height: 61%;
  }

  .map-overlay {
    position: absolute;
    width: 100%;
    height: 28%;
    top: 61%;
    padding-bottom: 10px;
  }

  .mapboxgl-map {
    position: absolute;
    left: 0;
    width: 100%;
    height: 61%;
  }

  .sidebar.visible {
    width: 100%;
    height: 100%;
    display: block;
    border: none;
    /* position: absolute; */
    /* border-radius: 7px; */
    background-color: #ffffff;
    z-index: 2001;
    top: 0;
    left: 0;
  }
  div.sidebar-content {
    overflow-y: scroll !important;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
  }

  #feature-listing img {
    width: 16%;
  }

  #feature-listing p.link,
  #feature-listing p.name {
    margin-bottom: 2px;
    margin-top: 2px;
  }
}

#loading {
    background: #ffffff url('gearscolor.gif') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 100;
}
